:host::ng-deep .p-inputtext{
    padding: 0.3rem;
}

:host::ng-deep .p-inputtext{
    padding: 0.3rem;
    font-size: 0.9rem;
}

:host::ng-deep .p-tree-filter-icon{
    font-size: 0.8rem;
}

.onDelete{
    /* position: absolute;
    left: 90%;*/
    margin-left: 90px; 
}