<div class="card">
    <p-dataView #dv [value]="products" [paginator]="layout=='grid'?true:false" [rows]="9" filterBy="name"
        [sortField]="sortField" [sortOrder]="sortOrder" [(ngModel)]="sortKey" layout="grid"
        [totalRecords]=2 [pageLinks]=4 [paginatorPosition]="'bottom'" [showFirstLastIcon]="true"
        [showCurrentPageReport]="true" [currentPageReportTemplate]="' Registros Totales: {totalRecords}'"
        [emptyMessage]="'Sin registros'" (onChangeLayout)="onChange($event)">
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
                <p-dropdown [options]="sortOptions" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
                <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name" (input)="filtrar($event, dv)">
                </span>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>

        <ng-template let-product let-i="index" pTemplate="listItem">
            <div class="col-12">
                <!-- <div class="product-list-item">
                    <div class="product-list-detail">
                        <p-checkbox name="groupname" value={{product.id}} (onChange)="onChangeChk($event)" [(ngModel)]="selectedValues"></p-checkbox>
                        <div class="product-name">{{product.name}}</div>
                        <div class="product-description">{{product.description}}</div>
                        <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span>
                    </div>
                    <div class="product-list-action">
                        <span class="product-price">${{product.price}}</span>
                        <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                        <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                    </div>
                </div> -->
                <p-table [value]="products" *ngIf="product == products[0]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nombre</th>
                            <th>Year</th>
                            <th>Brand</th>
                            <th>Color</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.id}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.category}}</td>
                            <td>{{product.category}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="gridItem">
            <div class="col-12 md:col-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <p-checkbox name="groupname" value={{product.id}} (onChange)="onChangeChk($event)" [(ngModel)]="selectedValues"></p-checkbox>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{product.category}}</span>
                        </div>
                        <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                    </div>
                    <div class="product-grid-item-content">
                        <img src="../../../assets/images/bamboo-watch.jpg" >
                        <div class="product-name">{{product.name}}</div>
                        <div class="product-description">{{product.description}}</div>
                    </div>
                    <div class="product-grid-item-bottom">
                        <p-button icon="pi pi-shopping-cart" (onClick)="previsualizar(product)"  pTooltip="Previsualizar"></p-button>
                        <p-button icon="pi pi-shopping-cart" (onClick)="vaciar(product)" pTooltip="Vaciar"></p-button>
                        <p-button icon="pi pi-shopping-cart" (onClick)="restaurar(product)" pTooltip="Restaurar"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
   
    </p-dataView>
</div>